$helvetica-neue-lt-pro: 'Helvetica Neue LT Pro', sans-serif;
$headline-bold: 77px bold;
$body-copy-bold: 75px bold;
$body-copy: 55px; 
$hd-orange: #F96302;
$hd-white: #FFFFFF;
$hd-black: #000000;
$hd-gray-dark: #747474;
$hd-gray-light: #F5F5F5;
$hd-gray-medium: #C4C4C4;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
